In [46]:
import pandas as pd

# Load data from files
data_columns = ["user_id", "movie_id", "rating", "timestamp"]
data = pd.read_csv("data", sep="\t", names=data_columns)

genre_columns = ["genre_name", "genre_id"]
genre = pd.read_csv("genre", sep="|", names=genre_columns)

item_columns = ["movie_id", "title", "release_date", "video_release_date", "IMDb_URL", 
                "unknown", "Action", "Adventure", "Animation", "Children's", "Comedy", 
                "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", 
                "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
item = pd.read_csv("item", sep="|", names=item_columns, encoding="latin-1")

In [66]:
genre

     genre_name  genre_id
0       unknown         0
1        Action         1
2     Adventure         2
3     Animation         3
4    Children's         4
5        Comedy         5
6         Crime         6
7   Documentary         7
8         Drama         8
9       Fantasy         9
10    Film-Noir        10
11       Horror        11
12      Musical        12
13      Mystery        13
14      Romance        14
15       Sci-Fi        15
16     Thriller        16
17          War        17
18      Western        18

In [48]:
item

,movie_id,title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
data

       user_id  movie_id  rating  timestamp
0          196       242       3  881250949
1          186       302       3  891717742
2           22       377       1  878887116
3          244        51       2  880606923
4          166       346       1  886397596
...        ...       ...     ...        ...
99995      880       476       3  880175444
99996      716       204       5  879795543
99997      276      1090       1  874795795
99998       13       225       2  882399156
99999       12       203       3  879959583

[100000 rows x 4 columns]

In [50]:
# Assuming the genre columns start from index 5 (column "unknown") in the "item" DataFrame
genre_columns = item.columns[5:]

# Add a new column "genre" to the "item" DataFrame
item["genre"] = item.apply(lambda row: ",".join(genre for genre, value in zip(genre_columns, row[5:]) if value == 1), axis=1)

# Display the modified "item" DataFrame
print(item.head())

   movie_id              title release_date  video_release_date  \
0         1   Toy Story (1995)  01-Jan-1995                 NaN
1         2   GoldenEye (1995)  01-Jan-1995                 NaN
2         3  Four Rooms (1995)  01-Jan-1995                 NaN
3         4  Get Shorty (1995)  01-Jan-1995                 NaN
4         5     Copycat (1995)  01-Jan-1995                 NaN

                                            IMDb_URL  unknown  Action  \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1  http://us.imdb.com/M/title-exact?GoldenEye%20(...        0       1
2  http://us.imdb.com/M/title-exact?Four%20Rooms%...        0       0
3  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
4  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0

   Adventure  Animation  Children's  ...  Film-Noir  Horror  Musical  Mystery  \
0          0          1           1  ...          0       0        0        0
1          1          0           0  ...          0       0        0        0
2          0          0           0  ...          0       0        0        0
3          0          0           0  ...          0       0        0        0
4          0          0           0  ...          0       0        0        0

   Romance  Sci-Fi  Thriller  War  Western                        genre
0        0       0         0    0        0  Animation,Children's,Comedy
1        0       0         1    0        0    Action,Adventure,Thriller
2        0       0         1    0        0                     Thriller
3        0       0         0    0        0          Action,Comedy,Drama
4        0       0         1    0        0         Crime,Drama,Thriller

[5 rows x 25 columns]

In [51]:
item.columns

Index(['movie_id', 'title', 'release_date', 'video_release_date', 'IMDb_URL',
       'unknown', 'Action', 'Adventure', 'Animation', 'Children's', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
       'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western',
       'genre'],
      dtype='object')

In [52]:
item = item.drop(["video_release_date", "unknown", "Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror","Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"], axis=1)

In [53]:
item

,movie_id,title,release_date,IMDb_URL,genre
0,1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,"Animation,Children's,Comedy"
1,2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(...,"Action,Adventure,Thriller"
2,3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%...,Thriller
3,4,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%...,"Action,Comedy,Drama"
4,5,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),"Crime,Drama,Thriller"
...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,Drama
1678,1679,B. Monkey (1998),06-Feb-1998,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,"Romance,Thriller"
1679,1680,Sliding Doors (1998),01-Jan-1998,http://us.imdb.com/Title?Sliding+Doors+(1998),"Drama,Romance"
1680,1681,You So Crazy (1994),01-Jan-1994,http://us.imdb.com/M/title-exact?You%20So%20Cr...,Comedy
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,http://us.imdb.com/M/title-exact?Schrei%20aus%...,Drama

In [54]:
# Merge "merged_data" with "item" on the "movie_id" column
final_data = pd.merge(data, item[["movie_id", "title", "release_date", "IMDb_URL", "genre"]], on="movie_id")

# Display the final merged DataFrame
print(final_data.head())

   user_id  movie_id  rating  timestamp         title release_date  \
0      196       242       3  881250949  Kolya (1996)  24-Jan-1997
1       63       242       3  875747190  Kolya (1996)  24-Jan-1997
2      226       242       5  883888671  Kolya (1996)  24-Jan-1997
3      154       242       3  879138235  Kolya (1996)  24-Jan-1997
4      306       242       5  876503793  Kolya (1996)  24-Jan-1997

                                          IMDb_URL   genre
0  http://us.imdb.com/M/title-exact?Kolya%20(1996)  Comedy
1  http://us.imdb.com/M/title-exact?Kolya%20(1996)  Comedy
2  http://us.imdb.com/M/title-exact?Kolya%20(1996)  Comedy
3  http://us.imdb.com/M/title-exact?Kolya%20(1996)  Comedy
4  http://us.imdb.com/M/title-exact?Kolya%20(1996)  Comedy

In [55]:
print(final_data.columns)
print(final_data.shape)

Index(['user_id', 'movie_id', 'rating', 'timestamp', 'title', 'release_date',
       'IMDb_URL', 'genre'],
      dtype='object')
(100000, 8)

In [56]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       100000 non-null  int64
 1   movie_id      100000 non-null  int64
 2   rating        100000 non-null  int64
 3   timestamp     100000 non-null  int64
 4   title         100000 non-null  object
 5   release_date  99991 non-null   object
 6   IMDb_URL      99987 non-null   object
 7   genre         100000 non-null  object
dtypes: int64(4), object(4)
memory usage: 6.1+ MB

In [57]:
from pyspark.sql import SparkSession
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.sql.functions import col

# Create a Spark session
spark = SparkSession.builder.appName("MovieRecommendation").getOrCreate()

# Convert the final_data DataFrame to a Spark DataFrame
spark_final_data = spark.createDataFrame(final_data)

# Split the data into training and testing sets
(training, test) = spark_final_data.randomSplit([0.8, 0.2])

# Build the recommendation model using ALS on the training data
als = ALS(maxIter=10, regParam=0.01, userCol="user_id", itemCol="movie_id", ratingCol="rating", coldStartStrategy="drop")
model = als.fit(training)

# Evaluate the model by computing the Root Mean Squared Error (RMSE) on the test data
predictions = model.transform(test)
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating", predictionCol="prediction")
rmse = evaluator.evaluate(predictions)
print(f"Root Mean Squared Error (RMSE): {rmse}")

# Generate top movie recommendations for all users
userRecs = model.recommendForAllUsers(10)

# Show the top recommendations for the first user
userRecs.select("user_id", "recommendations.movie_id").show(truncate=False)

Root Mean Squared Error (RMSE): 1.1045043156709677
+-------+----------------------------------------------------------+
|user_id|movie_id                                                  |
+-------+----------------------------------------------------------+
|1      |[1205, 1240, 114, 1368, 691, 995, 344, 1022, 1062, 502]   |
|3      |[253, 1093, 1143, 85, 1081, 1205, 982, 730, 1131, 1268]   |
|5      |[253, 882, 968, 516, 906, 1015, 1591, 1311, 902, 1118]    |
|6      |[793, 1426, 641, 1203, 1512, 488, 1099, 661, 525, 611]    |
|9      |[394, 1167, 1058, 337, 1335, 989, 1160, 1120, 1474, 888]  |
|12     |[915, 786, 557, 1185, 1131, 466, 1425, 703, 1540, 345]    |
|13     |[1426, 906, 1205, 641, 1278, 1209, 50, 533, 495, 661]     |
|15     |[1278, 1425, 573, 1286, 1410, 557, 791, 1136, 955, 1426]  |
|16     |[1063, 206, 1169, 745, 1195, 853, 1282, 589, 601, 1463]   |
|17     |[753, 906, 867, 253, 909, 1368, 1129, 1558, 1176, 789]    |
|19     |[1099, 1176, 753, 1375, 359, 909, 770, 1103, 432, 593]    |
|20     |[791, 1207, 1069, 1164, 1483, 786, 397, 821, 799, 130]    |
|22     |[1205, 130, 786, 500, 900, 1480, 1143, 945, 160, 954]     |
|26     |[1463, 357, 1605, 12, 187, 127, 192, 318, 1218, 1278]     |
|27     |[1205, 1093, 1131, 867, 1022, 1400, 1282, 753, 1007, 1240]|
|28     |[115, 1019, 1107, 745, 1169, 169, 1463, 302, 968, 206]    |
|31     |[337, 464, 1192, 593, 1282, 916, 1205, 675, 639, 1232]    |
|34     |[1205, 1240, 1062, 1066, 346, 522, 1434, 995, 793, 114]   |
|35     |[914, 767, 426, 573, 1240, 1135, 1208, 563, 388, 320]     |
|37     |[624, 1001, 1314, 1605, 698, 1218, 160, 1444, 1107, 865]  |
+-------+----------------------------------------------------------+
only showing top 20 rows

In [59]:
# Specify a user_id for testing (replace with an actual user_id from your data)
test_user_id = 1

# Generate top movie recommendations for the specified user
user_recommendations = model.recommendForUserSubset(spark.createDataFrame(pd.DataFrame({"user_id": [test_user_id]})), 10)

# Display the recommendations for the specified user
user_recommendations.show(truncate=False)

+-------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|user_id|recommendations                                                                                                                                                                       |
+-------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|1      |[{1205, 8.187499}, {1240, 5.8046274}, {114, 5.7583213}, {1368, 5.7115264}, {691, 5.5795317}, {995, 5.5314255}, {344, 5.5125823}, {1022, 5.4882984}, {1062, 5.386517}, {502, 5.335929}]|
+-------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [60]:
from pyspark.ml.evaluation import RegressionEvaluator

# Evaluate the model by computing the Root Mean Squared Error (RMSE) on the test data
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating", predictionCol="prediction")
rmse = evaluator.evaluate(predictions)

print(f"Root Mean Squared Error (RMSE): {rmse}")

Root Mean Squared Error (RMSE): 1.104504315670978

In [67]:
def get_recommendations_for_movie(model, movie_id, num_recommendations=10):
    # Generate recommendations for the specified movie ID
    movie_rec = model.recommendForItemSubset(spark.createDataFrame([(movie_id,)], ["movie_id"]), num_recommendations)
    
    # Extract the recommended movie IDs
    recommended_movie_ids = [row[0] for row in movie_rec.collect()[0]['recommendations']]
    
    return recommended_movie_ids

# Example: Get recommendations for a given movie title
input_movie_title = "Toy Story (1995)"
input_movie_id = get_movie_id(input_movie_title, spark_final_data)

if input_movie_id is not None:
    recommendations = get_recommendations_for_movie(model, input_movie_id)
    print(f"Top recommendations for '{input_movie_title}': {recommendations}")

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/clientserver.py", line 516, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving

Py4JError: An error occurred while calling o632.apply

In [62]:
# Function to get unique movie titles for a list of movie IDs
def get_unique_movie_titles(movie_ids, spark_data):
    return spark_data.filter(spark_data['movie_id'].isin(movie_ids)).select('movie_id', 'title').distinct().collect()

# Example: Get unique movie titles for the recommended movie IDs
recommended_movie_titles = get_unique_movie_titles(recommendations, spark_final_data)
print("Recommended Movie Titles:")
for row in recommended_movie_titles:
    print(f"Movie ID: {row['movie_id']}, Title: {row['title']}")

Recommended Movie Titles:
Movie ID: 317, Title: In the Name of the Father (1993)
Movie ID: 688, Title: Leave It to Beaver (1997)
Movie ID: 558, Title: Heavenly Creatures (1994)
Movie ID: 609, Title: Father of the Bride (1950)
Movie ID: 927, Title: Flower of My Secret, The (Flor de mi secreto, La) (1995)
Movie ID: 36, Title: Mad Love (1995)
Movie ID: 282, Title: Time to Kill, A (1996)
Movie ID: 810, Title: Shadow, The (1994)
Movie ID: 166, Title: Manon of the Spring (Manon des sources) (1986)
Movie ID: 689, Title: Jackal, The (1997)

In [63]:
def get_recommendations_and_titles(model, input_movie_title, spark_data, num_recommendations=10):
    # Get movie ID for the input title
    input_movie_id = get_movie_id(input_movie_title, spark_data)
    
    if input_movie_id is not None:
        # Generate recommendations for the specified movie ID
        movie_rec = model.recommendForItemSubset(spark.createDataFrame([(input_movie_id,)], ["movie_id"]), num_recommendations)
        
        # Extract the recommended movie IDs
        recommended_movie_ids = [row[0] for row in movie_rec.collect()[0]['recommendations']]
        
        # Get unique movie titles for the recommended movie IDs
        recommended_movie_titles = spark_data.filter(spark_data['movie_id'].isin(recommended_movie_ids)).select('movie_id', 'title').distinct().collect()
        
        return recommended_movie_ids, recommended_movie_titles

# Example: Get recommendations and titles for a given movie title
input_movie_title = input('movie name:')
recommendations, recommended_movie_titles = get_recommendations_and_titles(model, input_movie_title, spark_final_data)

if recommendations is not None:
    print("\nRecommended Movie Titles:")
    for row in recommended_movie_titles:
        print(f"Title: {row['title']}")

movie name: Toy Story (1995)

Recommended Movie Titles:
Title: In the Name of the Father (1993)
Title: Leave It to Beaver (1997)
Title: Heavenly Creatures (1994)
Title: Father of the Bride (1950)
Title: Flower of My Secret, The (Flor de mi secreto, La) (1995)
Title: Mad Love (1995)
Title: Time to Kill, A (1996)
Title: Shadow, The (1994)
Title: Manon of the Spring (Manon des sources) (1986)
Title: Jackal, The (1997)

In [64]:
# Evaluate the model by computing the Root Mean Squared Error (RMSE) on the test data
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating", predictionCol="prediction")
rmse = evaluator.evaluate(predictions)

print(f"Root Mean Squared Error (RMSE): {rmse}")

Root Mean Squared Error (RMSE): 1.1045043156709677

In [65]:
movie_rec

NameError: name 'movie_rec' is not defined

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/clientserver.py", line 516, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving